/* styles.css */

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
}

#slideshow-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slideshow-container img.active {
    opacity: 1;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    z-index: 1;

}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.button-container .dropdown {
    margin: 0 10px;
}

.button-container .dropdown button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
    font-weight: bolder;
}

.button-container .dropdown button:hover {
    background-color: rgba(255, 255, 0, 0.8);
    color: black;
}

.button-container .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.button-container .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.button-container .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.button-container .dropdown:hover .dropdown-content {
    display: block;
}

.slide-container {
    position: relative;
    width: 80%;
    height: 60%;
    overflow: hidden;
    margin-top: 20px;
}

.slide-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
    flex-shrink: 0;
}

.navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.image-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;   
}

.image-options a {
    display: block; 
    margin-bottom: 10px; 
    text-align: center; 
}

.dropdown-content {
    position: relative;
}

.options-container {
    display: flex;
    align-items: flex-start;
}

.text-options,
.image-options {
    flex: 1;
}

.image-options img {   
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.image-options img:hover {
    border-color: black;
}

@media (max-width: 768px) {
    .options-container {
        flex-direction: column;
    }

    .text-options,
    .image-options {
        width: 100%;
    }
}

